body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 70px;
}

img {
  /*max-width: 50%;*/
}

a {
  text-decoration: none;
  color: white;
}

.img-fluid {
width: 100%;

}
.img-item {
  width: 200px;
  height: 200px;
  object-fit: contain;

}
.img-fluid:hover {
  opacity: 0.8 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mauro {
  width: 100%;
  background-color: black;
  height: 30px;
  z-index: 1;
  padding: 5px 0;
  padding-bottom: 20px;
  color: white;
  font-size: 12px;
  z-index: 99999 !important;
}

.navbar {
  height: 70px;
  z-index: 99998 !important;
}

.bg-dark {
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

}
.navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon {
  background-image: none
}

.text-danger {
  color: #000000!important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #000000;
  font-size: 10px;
  color: white !important;
}

.navbar-brand {
  color: #000000;
}

.titulo-pagina {
  border-bottom: 1px solid #000000;
  font-size: 22px;
  color: black !important;
  text-transform: uppercase;
  font-size: 24px;
}

.nav-link {
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 30px;
  margin: 5px;
  padding: 10px 20px !important;
  color: #000000;
}

.nav-link:hover {
  color: #f86f6f;
  background-color: #000000;
  color: white !important;
}

.nav-link {
  font-size: 15px
}

a.dropdown-item.active {
  background-color: #f86f6f;
}

.product-title {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.product-title:hover{
  color: #000000;
  opacity: 0.5;
}

.product-price {
  font-size: 16px;
  color: #f86f6f;
}

.btn.right {
  border: none;
  height: 35px;
  width: 35px;
  font-size: 20px;
  outline: none;
}

.btn.left {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
}

.btn.left:hover, .btn.right:hover {
  background-color: white;
  color: black;
}

.btn.left:active, .btn.right:active {
  background-color: white;
  color: red;
}

.btn.left:focus, .btn.right:focus {
  background-color: white !important;
  color: tomato;
}

.btn.add {
  height: auto;
  width: auto;
  max-width: 148px;
  margin-top: 7px;
  margin-left: -1px;
  font-size: 13px;
  border-radius: 20px !important;
  cursor: pointer !important;
}
.btn.add:hover {
  background-color: black;
}
.btn-dark {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn-danger {
  border-radius: 0;
  margin-left: 20px;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  border-radius: 20px;
}

.btn-danger:hover {
  background-color: black;
  color: white;
  
  border-bottom: 1px solid #000000;
}
.item-count {
  border: 0px solid #000000;
  max-width: 148px;
  height: 36px;
  text-align: center;
}

.item-count span {
  width: 100%;
  line-height: 35px;
}

.item-count .left {
  float: left;  
}
.item-count .right {
  float: right;  
}

.efecto {
  opacity: 1;
  transition: all ease 500ms;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.efecto:hover {
  opacity: 0.7;
  transition: all ease 150ms;
  cursor: pointer;
}

.efecto:target {
  transform: scale(0.97) translate(-100%, -150%);
}

.cart-float {
  z-index: 99999;
  position: fixed;
  bottom: 65px;
  right: 35px;
  border-radius: 0px;
  width: auto;
  height: 40px;
  display: inline-block;
}

.cart-float .nav-link {
  color: #000000;
  text-decoration: none;
  text-align: left;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.cart-float .nav-link:hover {
  background-color: black;
  color: white;
}

.cart-float .nav-link svg:hover {
  color: #ffffff;
}

.badge {
  background-color: #000000;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  margin-left: 5px;
}

.link-item {
  text-decoration: none;
  color: #000000;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

.delete-padre {
  position: relative;
}

.delete {
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
}

.delete:hover {
  color: #000000;
  background-color: transparent;
  border-radius: 100%;
  opacity: 1;  
}

.Toastify__toast--info {
  background-color: #000000;
}

.form-control {
  border-radius: 20px;
  border: 1px solid #000000;
}

.form-control::placeholder {
  color: #000000;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:focus {
  border: 1px solid #000000 !important;
}

.show {
  color: grey !important;
}

.navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-radius: 10px;
}

.dropdown-item {
  color: #000000 !important;
}

.nav-link:focus {
  color: white !important;
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: black;
  background-color: white;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
  color: white;
  background-color: black;
}

.nav-link.dropdown-toggle:hover {
  color: white !important;
}

.dropdown-item.active {
  color: white !important;
  background-color: black !important;
}

.finalizar-compra {
  background-color: #f86f6f;
  border: none;
  color: white;
}

.finalizar-compra:hover {
  opacity: 0.7;
}

.whatsapp {
  z-index: 99999;
  position: fixed;
  bottom: 55px;
  left: 35px;
  border-radius: 0px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f86f6f;
}

.contenedor-oferta {
  position: relative;

}

.oferta {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  height: 40px;
  width: 100px;
  color: white;
  z-index: 2000;
  padding-top: 1px;
  font-size: 25px;
  border-radius: 0 0px 0 10px;
}